@using static GiftGiver.Controllers.HomeController;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Личный кабинет";
}

@model PrivateAccViewModel
<section>
    <form asp-action="PrivateAcc" method="post">
        <div class="v133_359">
            <div class="back"></div>
            <div class="v133_399">
                <span class="v133_401">Список желаемого</span>
                <div class="slider-container">
                <div class="grid-container-wishlist">
                    @foreach (var подарок in Model.Products)
                    {
                        if (подарок.Изображение != null)
                        {
                            <div class="grid-item-wishlist">
                                <img src="data:image;base64,@(Convert.ToBase64String(подарок.Изображение))" />
                                    <p class="grid-cell-name">@подарок.Наименование</p>
                                    <p class="grid-cell-count">@подарок.Цена.ToString("N0") ₽</p>
                                    <a href="@подарок.Ссылка" class="btn btn-primary" id="link">Перейти</a>
                                    <a class="btn btn-primary delete-wish" data-подарокid="@подарок.ПодаркиId" id="wish">Удалить</a>
                            </div>
                        }
                    }
                </div>
                </div>
            </div>

            <span class="private">Личный кабинет</span>
            <div class="grid-container">
                <div class="grid-item">
                    <span class="v133_364" >@Model.User.Фио</span>
                    <div class="v133_365">
                        <span class="v133_366" onclick="location.href='@Url.Action("Exit", "Home")'">Выйти</span>
                        <div class="v133_367">
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <span class="private_span">E-mail</span>
                    <div class="private_input">
                        <input class="autho_710" type="email" value="@Model.User.Email" name="mail">
                    </div>
                </div>
                <div class="grid-item">
                    <span class="private_span">Пароль</span>
                    <div class="private_input">
                        <input class="autho_710" type="password" value="@Model.User.Пароль" name="pass">
                    </div>
                </div>
                <div class="grid-item">
                    <span class="private_span">Логин</span>
                    <div class="private_input">
                        <input class="autho_710" type="text" value="@Model.User.Логин" name="log">
                    </div>
                </div>
                <div class="grid-item">
                    <span class="private_span">Возраст</span>
                    <div class="private_input">
                        <input class="autho_710" type="datetime-local" value="@Model.User.Возраст" name="year">
                    </div>
                </div>
                <div class="grid-item">
                    @if (!string.IsNullOrEmpty(ViewBag.Enter))
                    {
                        <p style="color:red; font-size: 12px; margin-left: 15%; top:5%; position:relative">@ViewBag.Enter</p>
                    }
                    <button class="autho_713" type="submit" >Сохранить</button>
                </div>
                
            </div>
            
            </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/private.js"></script>